@using IGCV_Protokoll.Models
@using IGCV_Protokoll.util
@{
	ViewBag.Title = "Listen";
	var userSettings = (ViewBag.CurrentUser as User)?.Settings ?? new UserSettings();
}

<div class="index-action">
	<a class="btn btn-default" onclick="collapseListsOut();"> Alle Listen ausklappen</a>
	<a class="btn btn-default" onclick="collapseListsIn();"> Alle Listen einklappen</a>
	@Html.ActionLink("Zurück", "Index", "Discussion", new { Area = "Session" }, new { @class = "btn btn-default" })
	@Html.ActionLink("Weiter", "Index", "Finalize", new { Area = "Session" }, new { @class = "btn btn-primary" })
</div>

<h2>@ViewBag.Title</h2>

@if (ViewBag.LastSession != null)
{
	<p>Die letzte Sitzung dieses Typs wurde am @(((DateTime)ViewBag.LastSession).ToString("g")) durchgeführt.</p>
}
else
{
	<p>Eine Sitzung dieses Typs wird zum ersten Mal durchgeführt.</p>
}

<script type="text/javascript">
	var returnURL = "@(Request.Url != null ? Request.Url.AbsolutePath : "")";
</script>

@{ Html.RenderPartial("~/Areas/Session/Views/Lists/_ListFilterPanel.cshtml"); }

@if (userSettings.ShowEvents)
{
	@Html.Action("_List", "LEvents", new { Area = "Session" })
}
@if (userSettings.ShowResearchProposals)
{
	@Html.Action("_List", "LResearchProposals", new { Area = "Session" })
}
@if (userSettings.ShowIndustryProjects)
{
	@Html.Action("_List", "LIndustryProjects", new { Area = "Session" })
}
@*
	@Html.Action("_List", "LConferences", new {Area = "Session"})

	@Html.Action("_List", "LExtensions", new {Area = "Session"})

	@Html.Action("_List", "LEmployeePresentations", new {Area = "Session"})

	@Html.Action("_List", "LIlkDays", new {Area = "Session"})

	@Html.Action("_List", "LIlkMeetings", new {Area = "Session"})
*@
@if (userSettings.ShowOpenings)
{
	@Html.Action("_List", "LOpenings", new { Area = "Session" })
}
@if (userSettings.ShowHolidays)
{
	@Html.Action("_List", "LHolidays", new { Area = "Session" })
}


@* jsTree ist erforderlich für die ACL Bäume der Listenzeilen *@
<script src="~/Scripts/jstree.js"></script>
@{ Html.RenderPartial("~/Areas/Session/Views/Lists/_AclScriptSection.cshtml"); }