@using IGCV_Protokoll.util
@model IGCV_Protokoll.Models.DocumentContainer
@{
	ViewBag.Title = "Details (Dokumentencontainer)";
	var aclElementId = $"standaloneAcl_{Model.ID}";
}
<h2>@ViewBag.Title</h2>
@if (!string.IsNullOrEmpty(ViewBag.ReturnURL))
{
	<a href="@ViewBag.ReturnURL">Zurück</a>
}
<hr />
<div>
	@if (Model.Orphaned != null)
	{
		<div style="margin-bottom: 15px;" class="alert alert-info">
			Dieser Container befindet sich im @Html.ActionLink("Papierkorb", "Index", "RecycleBin", new { Area = "Administration" }, new { @class = "alert-link" }).
		</div>
	}
	@if (Model.TopicID != null)
	{
		<div style="margin-bottom: 25px;">
			<strong>@Html.DisplayNameFor(model => Model.TopicID):</strong>
			@Html.ActionLink(Model.Topic.Title, "Details", "Topics", new { Area = "", id = Model.TopicID }, null)
		</div>
	}

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Enthaltene Dokumente:</h3>
		</div>
		@Html.Action("_List", "Attachments", new { id = Model.ID, showActions = ViewBag.ShowUpload, showDeleted = true })
		@if (ViewBag.ShowUpload)
		{
			@Html.Action("_UploadForm", "Attachments", new {id = Model.ID})
		}
		else
		{
			<p>Es dürfen keine neuen Versionen hochgeladen werden.</p>
		}
	</div>
	
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">@Html.DisplayNameFor(model => model.AclID)</h3>
		</div>
		<div class="panel-body" id="accessControl_@Model.ID">
			@Html.Action("_DisplayAuthorizedFor", "Acl", new { obj = Model, htmlId = @aclElementId })
		</div>
	</div>
</div>