@using IGCV_Protokoll.util
@model IGCV_Protokoll.Areas.Session.Models.Lists.Conference
@{
	string trclass = Model.LastChanged > ViewBag.LastSession ? "newlistitem" : null;
}

<tr class="@trclass" id="conference_@Model.ID">
	<td>
		@Model.StartDate.ToString("d")
	</td>
	<td>
		@Model.EndDate.ToString("d")
	</td>
	<td>
		@Html.DisplayFor(model => model.Description)
	</td>
	<td>
		@Html.DisplayFor(model => model.Ilk.ShortName)
	</td>
	<td>
		@Html.DisplayFor(model => model.Employee)
	</td>
	<td>
		@Html.DisplayFor(model => model.Funding)
	</td>
	<td>
		@Html.DisplayFor(model => model.Approval)
	</td>
	@if (!ViewBag.Reporting)
	{
		<td class="actions">
			<a href="@Url.Action("Download", "LConferences", new {Area = "Session", id = Model.ID})"><span class="glyphicon glyphicon-download" title="Termin herunterladen"></span></a>
			<a data-ajax="true"
			   data-ajax-method="POST"
			   data-ajax-success="ReplaceRow('conference', @Model.ID, data);"
			   href="@Url.Action("_BeginEdit", "LConferences", new {Area = "Session", id = Model.ID})"><span class="glyphicon glyphicon-edit" title="Konferenz bearbeiten"></span></a>
			<a data-ajax="true"
			   data-ajax-method="POST"
			   data-ajax-confirm="Diese Konferenz wirklich löschen?"
			   data-ajax-success="RemoveRow('conference', @Model.ID);"
			   href="@Url.Action("_Delete", "LConferences", new {Area = "Session", id = Model.ID})"><span class="glyphicon glyphicon-remove" title="Konferenz löschen"></span></a>
				@if (Model.AclID.HasValue)
				{
					<a href="@Url.Action("Edit", "Acl", new {Area = "", id = Model.AclID.Value})" onclick="displayAclModal(@Model.AclID.Value);return false;"><span class="glyphicon glyphicon-tree-deciduous" title="ACL Baum bearbeiten"></span></a>
				}
				else
				{
					<a href="@Url.Action("CreateAcl", "LConferences", new {Area = "Session", id = Model.ID})" onclick="createAndDisplayAcl(this, @Model.ID);return false;"><span class="glyphicon glyphicon-tree-deciduous" title="ACL Baum bearbeiten"></span></a>
				}
		</td>
	}
</tr>